<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title">
</head>

<body ng-app="redditClone" ng-controller="MainController" ng-cloak>

    <!-- Navbar -->

    <nav class="nav navbar-default">
        <div class="container-fluid nav-container">
            <div class="navbar-header">
                <a class="navbar-brand" id="header" href="">My Reddit Clone</a>
            </div>

            <!-- Add post -->
            <ul class="nav navbar-nav">
                <li>
                    <button ng-click="togglePostForm()" type="button" class="btn btn-default navbar-btn">Add a Post &nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </li>
            </ul>

            <div class="navbar-form navbar-left">
                <li class="dropdown">
                    Search by:&nbsp;&nbsp;
                    <select ng-model="dropdown" id="menu">
                        <option id="votes" value="votes">Votes</option>
                        <option id="date" value="date">Date</option>
                        <option id="title" value="title">Title</option>
                    </select>
                </li>
            </div>
        </div>

    </nav>

    <!-- Container for Post View -->

    <div class="container-fluid" ng-show="createPostForm" id="post-view" ng-cloak>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 post-view-design">
                <div class="page header">
                    <h1 class="text-center">Add a Post</h1></div>


                    <!-- ng-submit="submitForm(postForm.$valid)" -->
                <form name="postForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : newPost.title.$invalid && !newPost.title.$pristine,
                    'has-success' : newPost.title.$valid}">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" ng-model="newPost.title" ng-minlength="3" required>
                        <p ng-show="newPost.title.$error.minlength" class="help-block">Title must be at least 3 characters long.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : newPost.author.$invalid && !newPost.author.$pristine,
                  'has-success' : newPost.author.$valid}">
                        <label>Author</label>
                        <input type="text" name="author" class="form-control" ng-model="newPost.author" ng-minlength="3" ng-maxlength="25" required>
                        <p ng-show="newPost.author.$error.minlength" class="help-block">Name must be at least 3 characters long.</p>
                        <p ng-show="newPost.author.$error.maxlength" class="help-block">Name must not be more than 25 characters.</p>
                    </div>
                    <div class="form-group" ng-class=" { 'has-error' : newPost.image.$invalid && !newPost.image.$pristine,
                  'has-success' : newPost.image.$valid}">
                        <label>Image</label>
                        <input type="text" name="image" class="form-control" ng-model="newPost.image" required>
                        <p ng-show="newPost.image.$invalid && newPost.image.$pristine" class="help-block">Enter a valid image url.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : newPost.description.$invalid && !newPost.description.$pristine,
                  'has-success' : newPost.description.$valid}">
                        <label>Description</label>
                        <input type="text" name="description" class="form-control" ng-model="newPost.description" ng-minlength="10" required>
                        <p ng-show="newPost.description.$error.minlength" class="help-block">Description must be more than 10 characters.</p>
                    </div>

                    <button type="button" class="btn btn-primary" ng-click="togglePost(); submitPost()" ng-disabled="newPost.$invalid">Submit</button>


                </form>


            </div>

        </div>
    </div>

    <!-- Posts -->

    <div class="container-fluid" ng-cloak>
        <div class="row">
            <ul class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

                <li ng-repeat="post in posts | orderBy: '-votes' | orderBy: title " class="posts col-lg-12">

                    <img ng-src="{{ post.image }}" alt="Image" class="col-lg-3" />
                    <h4>{{ post.title }}  |
                <i class="fa fa-arrow-up" aria-hidden="true" ng-click="upvote(post)" ></i>
                <span ng-class="{ green: post.votes > 0, red: post.votes < 0 }">{{ post.votes }}</span>
                <i class="fa fa-arrow-down" aria-hidden="true" ng-click="downvote(post)" ></i>
              </h4>
                    <p class="author">Written by: {{ post.author }}</p>
                    <br>
                    <p>{{ post.description }}</p>
                    <br>
                    <br>

                    <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.date | date: 'fullDate'}} |
                    <i class="glyphicon glyphicon-comment" aria-hidden="true"></i>&nbsp;&nbsp;{{ post.comments.length }}
                    <a href="" ng-click="toggleComments()">
                        <ng-pluralize count="post.comments.length" when="{ '1': ' Comment', 'other': ' Comments'}">
                    </a> &nbsp;&nbsp;|&nbsp;&nbsp;

                    <!-- Add Comment -->

                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i><a href="" ng-click="commentView=true"> Add comment</a>
                    <br>
                    <br>

                    <div class="col-lg-12" ng-show="commentView" id="comment-view">
                        <!-- <p class="text-center">--__--__--__--__--<a href="" ng-click="commentView=false"> Collapse Comments </a>--__--__--__--__--</p> -->

                        <form name="post.commentForm" ng-submit="post.submitCommentForm()">
                            <!-- Add comment -->
                            <label for="author">Author</label>
                            <input type="text" name="author" ng-model="newComment.author" required>
                            <label for="comment">Comment</label>
                            <input type="text" name="comment" ng-model="newComment.comment" required>

                            <button type="button" name="button" ng-click="submitComment(post)">submit comment</button>
                        </form>

                        <ul ng-repeat="data in post.comments">
                            <li>
                                <p>
                                    "{{ data.comment }}"
                                </p>
                                <small>{{ data.date | date: 'fullDate '}}</small>
                                <br>
                                <small> - {{ data.author }}</small>
                                <br>
                                <br>



                            </li>

                        </ul>



                    </div>



                </li>

            </ul>



        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- <script src="components/moment/moment.js"></script>
    <script src="components/angular-moment/angular-moment.js"></script> -->
    <script src="app.js"></script>





</body>

</html>
