body {
  background-color: white;
}

.nav-container {
  background-color: #EBF2FA;
}

#header {
  color: #010821;
}

.dropdown {
  color: #010821;
}

#menu {
  color: #010821;
}

#go {
  color: #010821;
}

.glyphicon {
  color: #010821;
}
.posts {
  list-style-type: none;
  min-height: 23rem;
  border-radius: 4px;
  background-color: #EBF2FA;
  margin-top: 1rem;
  overflow: auto;
  color: #010821;
}

img {
  height: 20rem;
  margin-top: 1rem;
}

.author {
  font-style: bold;
}

#post-view {
  margin: 8rem;
}

.post-view-design {
  border-radius: 5px;
  background-color: #EBF2FA;
  border: 1px solid #e8e8e8;
  padding-bottom: 1rem;
}

.has-error {
  border: red;
}

.has-success {
  border: green;
}

.green {
  color: green;
}

.red {
  color: darkred;
}

.nav-container {
  display: flex;
  align-items: center;
}

select {
  background-color: white;
}

.ng-enter {
  transition: 0.5s linear all;
  opacity:0;
  animation: fadeInUp;

}

.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}

.ng-leave.ng-leave-active {
  opacity:0;
}

/*This is for our hiding (this is not a class from ng-animate)*/
.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}
